#email {
  background-color: 'red' !important;
}

/* iframe {
  height: 60px !important;
  width: 80px !important;
  margin-top: -9px !important;
} */

.sign-out {
  position: fixed;
  top: 30px !important;
  right: 30px !important;
  font-size: 1.25vw;
  bottom: 50vh;
  text-indent: 0.5em;
  letter-spacing: 0.5em;
  color: #d1b790;
  font-weight: bold;
  text-transform: uppercase;
}

#cardSlots {
  z-index: 5;
}

#cardSlot1 {
  z-index: 6;
}
#cardSlot2 {
  z-index: 6;
}
#cardSlot3 {
  z-index: 6;
}
#cardSlot4 {
  z-index: 6;
}
#cardSlot5 {
  z-index: 6;
}
#cardSlot6 {
  z-index: 6;
}

#marketplace-title {
  position: relative;
  text-align: center;
}
